 *{
    padding: 0;
    margin:0 ;
}
.header{
    width:100%;
    height:60px;
    background-color: #2b669a;
}
.header .title{
    font-size:20px;
    font-weight:100;
    line-height: 60px;
    color:white;
    margin-left: 15px;
}
.backend{
    float: right;
    color: white;
    text-decoration: none;
    font-size:15px;
    margin-right: 20px;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
