.header-login{
    background-color: #2b669a;
    font-size: 33px;
    height:52px;
    color: white;
    text-align: center;
    margin-bottom: 22px;
    line-height: 52px;
}

.header-register{
    background-color: #2b669a;
    font-size: 33px;
    height:52px;
    color: white;
    text-align: center;
    margin-bottom: 22px;
    line-height: 52px;
}