<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <link rel="stylesheet" href="/static/blog/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/login.css">
</head>
<body style="margin: 0 auto">
<div class="header-login">
    博 客 系 统 个 人 登 录 界 面
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <form>
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">用户名</label>
                    <input type="text" id="user" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pwd">密码</label>
                    <input type="password" id="pwd" class="form-control">
                </div>
                {#验证码#}
                <div class="form-group">
                    <label for="valid_code">验证码</label>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" id="valid_code" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <img id="valid_code_img" src="/get_validCode_img/" width="260px" height="35px" alt="">
                        </div>
                    </div>
                </div>
                <input type="button" id="login_btn" class="btn btn-success pull-left" value="登陆"><span class="error"></span>
                <a href="/register/" type="button" id="register" class="btn btn-warning pull-right">注册</a>
            </form>
        </div>
</div>
</div>
<script src="/static/blog/jquery-1.12.4.js"></script>
<script src="/static/blog/bootstrap-3.3.7/js/bootstrap.js"></script>
<script>
    //点击刷新图片验证码
    $('#valid_code_img').click(function () {
        console.log($(this)[0]);
        $(this)[0].src += '?'
    });

    //登陆验证
    $('#login_btn').click(function () {
        $.ajax({
            url:'',
            type:'post',
            data:{
                user:$('#user').val(),
                pwd:$('#pwd').val(),
                valid_code:$('#valid_code').val(),
                csrfmiddlewaretoken:$('[name=csrfmiddlewaretoken]').val()
            },
            //不要把回调函数的data忘记写了，从后台接收到的
            success:function (data) {
                console.log(data);
                if(data.user){
                    var user = data.user;
                    {# 跳转到个人页面 拼接字符串  #}
                    //location.href = '/' + user +  '/'
                    location.href = '/index/'
                }
                else{
                    $('.error').text(data.msg).css({'color':'red','margin-left':'10px'});
                    //2秒后清空消息
                    setTimeout(function () {
                        $('.error').text('')
                    },2000)
                }
            }
        })
    })


    
</script>


</body>
</html>